.header {
    margin: 40px 80px;
    font-family: "IBM Plex Sans", sans-serif;
    text-align: center;
}

.header h1 {
    font-size: 40px;
    font-weight: 650;
    color: #38649f;
    margin: 0 0 10px;
}

.header p {
    font-size: 20px;
    color: #444;
    max-width: 640px;
    margin: 0 auto 40px;
    line-height: 1.5;
}

.subteams {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: #ffffff;
        align-items: top;
        gap: 20px;
}

.subteam-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.subteam-logos{
    height: 120px;
}

.subteams p{
    margin-top: 0;
    font-size: 18px;
    /*font-style: italic;*/
    color: #444;
    font-family: "IBM Plex Sans", sans-serif;
    word-spacing: 1px;
    text-align: center;
    max-width: 150px;
}

.name-scroll {
        background-color: #ffffff;
        font-size: 21px;
        padding: 5px 15px; 
        font-family: "IBM Plex Sans", sans-serif; 
        font-weight: 450;
        word-spacing: 1px;
        color: #38649f;              
        text-align: center;        
        text-decoration: none;    
        display: inline-block;
        border: 2px solid #38649f;        
        border-radius: 35px;   
        text-decoration: none;
        transition: background 0.15s ease, color 0.15s ease;
}

.name-scroll:hover {
        background: #38649f;
        color: #edd051; 
}

.subsection {
    justify-content: left;
    margin: 20px 80px;
}

.subsection-text {
        text-align: left;
    }

.subsection-text h1 {
        font-size: 30px;
        color:#38649f; 
        font-weight: 600;
        margin-top: 20px;
        font-family: "IBM Plex Sans", sans-serif;
        line-height: 1;
    }

.subsection-text p {
        font-size: 22px;
        color: #444;
        font-family: "IBM Plex Sans", sans-serif;
        word-spacing: 1px;
    }

#mechanical, #electrical, #assembly, 
#interfaces, #outreach, #software {
    scroll-margin-top: 70px;
}