<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home/About Us</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navText">
        <img src="{{ url_for('static', filename='media/images/logoStretched.png') }}" alt="Logo" class="logo">
        <a href="{{ url_for('main.home') }}">Home</a>
        <a href="{{ url_for('main.projects') }}">Projects</a>
        <a href="{{ url_for('main.subteams') }}">Subteams</a>
        <a href="{{ url_for('main.joinus') }}">Join Us</a>
        <a href="{{ url_for('main.faq') }}">FAQ</a>
    </nav>

    <section class="hero">
        <div class="hero-text">
            <h1>Michigan Neuroprosthetics</h1>
            <p>We are Michigan Neuroprosthetics, a student-run design team at the University of Michigan building low-cost, lightweight, and customizable prosthetic arms for children.</p>
        
            <div>
                <a href="#about-us" class="scroll-button">ABOUT US</a>
            </div>
        </div>

        <div class="hero-image">
            <img src="{{ url_for('static', filename='media/images/handDrawing.png') }}" 
                alt="Neuroprosthetics Image">
        </div>
    </section>

    <section id="about-us"class="we-are">
        <div>
            <div class="we-are-text">
                <h1>We are committed to making designs that are</h1>
            </div>
            <div class="we-are-text">
                <h2>LOW COST</h2>
                <h2>LIGHTWEIGHT</h2>
                <h2>CUSTOMIZABLE</h2>
                <h2>OPEN-SOURCE</h2>
            </div>
            <div class="we-are-text">
                <p>We design the arms to be less than $100, and components can be reused as the wearer grows.</p>
                <p>The arms are 0.5-1.5 lbs, designed for both durability and mobility.</p>
                <p>The arm is custom fit to each user and can be designed specific to the wearer's needs.</p>
                <p>We're built on collaborative development to ensure the best wuality possible.</p>
            </div>
        </div>
        
    </section>

    
</body>
</html>