<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Join Us</title>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
</head>
<body>
    <nav class="navText" id="top">
        <img src="{{ url_for('static', filename='media/images/logoNewOutline.png') }}" alt="Logo" class="logo">
        <a href="{{ url_for('main.home') }}">Home</a>
        <a href="{{ url_for('main.projects') }}">Projects</a>
        <a href="{{ url_for('main.subteams') }}">Subteams</a>
        <a href="{{ url_for('main.joinus') }}">Join Us</a>
        <a href="{{ url_for('main.faq') }}">FAQ</a>
    </nav>

    <h1>Join Us</h1>
    <p>Join our team!</p>

    <section class="footer">
        <a href="#top" class="footer-top">BACK TO TOP</a>
        <div>
            <a href="https://www.instagram.com/mnprosthetics/" target="_blank">
                    <img src="{{ url_for('static', filename='media/images/instagram_white.png') }}"
                    alt="Instagram logo" class="footer-icon"></a>
            <a href="https://www.linkedin.com/groups/15456036/" target="_blank">
                    <img src="{{ url_for('static', filename='media/images/linkedin_white.png') }}"
                    alt="LinkedIn logo" class="footer-icon"></a>
            <a href="https://github.com/MichiganNeuroProsthetics" target="_blank">
                    <img src="{{ url_for('static', filename='media/images/github_white.png') }}"
                    alt="GitHub logo" class="footer-icon"></a>
        </div>
        <p>&copy; 2026 Michigan Neuroprosthetics &middot; Established 2015</p>
    </section>
</body>
</html>