{# templates/home.html #}
{% extends "base.html" %}

{% block title %}Subteams · Michigan Neuroprosthetics{% endblock %}

{% block styles %}<link rel="stylesheet" href="{{ url_for('static', filename='subteams.css') }}">{% endblock %}


{% block content %}

    <section class="header">
        <h1>Our Team</h1>
        <p>We are made up of six subteams, each with a unique role that contributes to the development of our final product.</p>
    </section>

    <section class="subteams">
        <div class="subteam-card">
            <img src="{{ url_for('static', filename='media/images/mechanical.png') }}" 
                alt="Mechanical Subteam Logo" class="subteam-logos">
            <a href="#mechanical" class="name-scroll">MECHANICAL</a>
            <p>CAD design, 3D printing, assembly, stability/quality testing</p>
        </div>
        <div class="subteam-card">
            <img src="{{ url_for('static', filename='media/images/electrical.png') }}" 
                alt="Electrical Subteam Logo" class="subteam-logos">
            <a href="#electrical" class="name-scroll">ELECTRICAL</a>
            <p>Circuit board production and embedded electronics</p>
        </div>
        <div class="subteam-card">
            <img src="{{ url_for('static', filename='media/images/interfaces.png') }}" 
                alt="Interfaces Subteam Logo" class="subteam-logos">
            <a href="#interfaces" class="name-scroll">INTERFACES</a>
            <p>Electrode garments, conductive threads, advanced features</p>
        </div>
        <div class="subteam-card">
            <img src="{{ url_for('static', filename='media/images/outreach.png') }}" 
                alt="Oureach Subteam Logo" class="subteam-logos">
            <a href="#outreach" class="name-scroll">OUTREACH</a>
            <p>Community engagement, conferences, recipient coordination, fundraising</p>
        </div>
        <div class="subteam-card">
            <img src="{{ url_for('static', filename='media/images/software.png') }}" 
                alt="Software Subteam Logo" class="subteam-logos">
            <a href="#software" class="name-scroll">SOFTWARE</a>
            <p>Microcontroller algorithms, signal processing, website/app design</p>
        </div>
        <div class="subteam-card">
            <img src="{{ url_for('static', filename='media/images/assembly.png') }}" 
                alt="Assembly Subteam Logo" class="subteam-logos">
            <a href="#assembly" class="name-scroll">ASSEMBLY</a>
            <p>Assembly of components, physical testing, quality assurance</p>
        </div>
    </section>

    
    <hr class="divider" id="mechanical">

    <section class="subsection">
        <div class="subsection-text">
            <h1>Mechanical</h1>
            <p>Here is the information about the mechanical subteam</p>
        </div>
    </section>

    <hr class="divider" id="electrical">

    <section class="subsection">
        <div class="subsection-text">
            <h1>Electrical</h1>
            <p>Here is the information about the electrical subteam</p>
        </div>
    </section>

    <hr class="divider" id="interfaces">

    <section class="subsection">
        <div class="subsection-text">
            <h1>Interfaces</h1>
            <p>Here is the information about the interfaces subteam</p>
        </div>
    </section>

    <hr class="divider" id="outreach">

    <section class="subsection">
        <div class="subsection-text">
            <h1>Outreach</h1>
            <p>Here is the information about the outreach subteam</p>
        </div>
    </section>

    <hr class="divider" id="software">

    <section class="subsection">
        <div class="subsection-text">
            <h1>Software</h1>
            <p>Here is the information about the software subteam</p>
        </div>
    </section>

    <hr class="divider" id="assembly">

    <section class="subsection">
        <div class="subsection-text">
            <h1>Assembly</h1>
            <p>Here is the information about the assembly subteam</p>
        </div>
    </section>

 
{% endblock %}